.message {

  padding: 12px;
  background-color: @color-grey-light;
  border-radius: 2px;
  border-bottom: 1px solid @color-grey;
  box-shadow: @shadow-small;
  margin-bottom: 10px;

  .message-info {
    font-size: 0.8em;
  }

}
