.message-input {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  .message-input-field {
    width: 100%;
    padding: 10px 100px 10px 10px;
    font-size: 1.2em;
    font-family: @font-main;
  }

  .message-input-submit {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    font-size: 1em;
    font-family: @font-main;
    text-transform: uppercase;
  }

}
